* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
ul {
  overflow: hidden;
  background-color: #fdeaec;
  list-style-type: none;
  padding: 0px 0px 0px 70px;
}
li {
  float: right;
  padding: 14px 18px;
}
ul a {
  text-decoration: none;
  color: #575757;
  font-size: 20px;
}
.home {
  display: flex;
  margin: 50px 60px;
}
.home-div {
  width: 50%;
}
.hdiv2 img {
  width: 90%;
  padding: 30px;
  margin-left: 30px;
}
span {
  color: #eb6076;
}
.home-div h1 {
  font-size: 52px;
  color: #575757;
  font-weight: bolder;
  margin-bottom: 40px;
  margin-top: 20px;
}
p {
  font-size: 18px;
  color: #6e6d6d;
}
.hdiv1 {
  margin: 40px;
  width: 470px;
}
button {
  background: linear-gradient(to right, #eb6076, #e32728);
  border: none;
  padding: 20px 36px;
  border-radius: 40px;
  margin-top: 40px;
}
button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.sec {
  margin-bottom: 100px;
}
.sec-2 {
  background: url("img/Frame 58.jpg");
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
}
.sec2img img {
  width: 340px;
  height: 520px;
  margin-top: 65px;
  margin-left: 180px;
}
.sec2div {
  width: 470px;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 35px;
}
.sec2div h2 {
  margin: 33px 0px;
}
h2 {
  color: #575757;
  font-size: 38px;
  font-weight: bolder;
}
.sec2div p {
  color: rgb(36, 35, 35);
  font-size: 17px;
  font-weight: inherit;
  line-height: 27px;
}
.sec-3-head {
  text-align: center;
  margin-bottom: 40px;
}
.sec-3-head h2 {
  margin-bottom: 33px;
}
.sec-3-head p {
  width: 645px;
  margin: auto;
  color: rgb(51, 50, 50);
  font-size: 16px;
  font-weight: inherit;
  line-height: 24px;
}
.sec3div {
  display: flex;
  margin: 0px 67px;
}
.singleSec3 {
  width: 33%;
  margin: 0px 25px;
  box-shadow: 2px 2px 18px #0000001c;
  border-radius: 25px;
}
.singleSec3 img {
  width: 315px;
  height: 240px;
  margin: 20px;
  border-radius: 25px;
}
.singleSec3 h3 {
  font-size: 25px;
  font-weight: bolder;
  margin: 20px;
}
.singleSec3 p {
  color: rgb(51, 50, 50);
  font-size: 16px;
  font-weight: inherit;
  line-height: 27px;
  margin: 20px;
}
.sec4 {
  display: flex;
  border-radius: 25px;
  margin: 0px 97px;
  box-shadow: 2px 2px 18px #0000001c;
}
.singleSec4 {
  padding: 60px 80px;
  margin: 0px 35px;
}
.singleSec4 h2 {
  font-size: 45px;
  color: rgb(20, 20, 20);
}
.singleSec4 p {
  color: rgb(51, 50, 50);
  font-size: 14px;
}
.contact {
  text-align: center;
  line-height: 60px;
}
.contact p {
  color: #e32728;
}
#icon img {
  width: 40px;
  height: 42px;
  margin: 20px;
}
footer {
  background-color: #0b0d17;
}
#footer h3 {
  font-size: 30px;
  color: #5b5b5b;
  padding: 35px 0px;
}
#footer {
  text-align: center;
}
#footer #middle {
  color: #b6b6b6;
  font-size: 14px;
  font-weight: inherit;
  padding-bottom: 100px;
}
#copyright {
  font-size: 12px;
}
